.agency {

}

.inner {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.page_top {
  height: 40vh;
  background-color: #6E00FF;
}

.media_wrapper {
  display: flex;
  position: absolute;
  height: 80vh;
  width: 100%;
  transform: translateY(-50%);
}

.media_left, .media_right {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.imgLeft, .videoRight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.services {
  margin: 0 auto;
  text-align: center;
  color: black;
  padding-top: calc(40vh + 150px);
  padding-bottom: 100px;
}

.services_list_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services_box_inner {
  margin: 0 auto;
}

.service_title, .service_list {

}

.service_list {
  list-style: none;
}

.button {
  background-color: #6E00FF;
  border-color: #6E00FF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(45vh + 100px);
}

.whymelkweg {
  height: 50vw;
  width: 90%;
  left: 5%;
  transform: translateY(-50%);
  position: absolute;
  background-color: #ddd;
}

.team {
  background-color: #29222F;
  .inner {
    padding-top: calc(25vw + 100px);
  }
}

.whymelkweg {

}

.why_header {
  text-align: center;
  margin-top: 100px;
}

.team_header {
  text-align: center;
}

.story_wrapper {

}

.story_header {
  text-align: center;
  margin: 100px 0;
  font-weight: bold;
}

.story_paragraph {
  color: #000;
  margin: 20px 20%;
  &:last-child {
    margin-bottom: 200px;
  }
}
